Proyectos/gestionpedidos/Config/Forms/frmmenupm.XML
Proyectos/gestionpedidos/Config/Forms/REGPROCESO.XML
Proyectos/gestionpedidos/log/20250731/LogEnvio.log
Proyectos/gestionpedidos/PROGS/zleerarchivos.ERR
*.FXP
*.ERR
*.txt
