
/*
   lunes, 14 de septiembre de 202617:07:37
   Usuario: sa
   Servidor: vmitre,1170
   Base de datos: nuevasirena10
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.deposito ADD
	sucursal int NULL
GO
ALTER TABLE dbo.deposito ADD CONSTRAINT
	DF_deposito_sucursal DEFAULT 0 FOR sucursal
GO
ALTER TABLE dbo.deposito SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.valor ADD
	regisw numeric(1, 0) NULL
GO
ALTER TABLE dbo.valor ADD CONSTRAINT
	DF_valor_regisw DEFAULT 0 FOR regisw
GO
ALTER TABLE dbo.valor SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.producto ADD
	imagenhttp nvarchar(MAX) NULL,
	envioweb numeric(1, 0) NULL
GO
ALTER TABLE dbo.producto ADD CONSTRAINT
	DF_producto_envioweb DEFAULT 1 FOR envioweb
GO
ALTER TABLE dbo.producto SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.cabecpra ADD
	idzona int NULL,
	iddeposito int NULL
GO
ALTER TABLE dbo.cabecpra ADD CONSTRAINT
	DF_cabecpra_idzona DEFAULT 0 FOR idzona
GO
ALTER TABLE dbo.cabecpra ADD CONSTRAINT
	DF_cabecpra_iddeposito DEFAULT 0 FOR iddeposito
GO
ALTER TABLE dbo.cabecpra SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.producto ADD
	idcategoria int NULL
GO
ALTER TABLE dbo.producto ADD CONSTRAINT
	DF_producto_idcategoria DEFAULT 0 FOR idcategoria
GO
ALTER TABLE dbo.producto SET (LOCK_ESCALATION = TABLE)
GO
COMMIT

BEGIN TRANSACTION
GO
ALTER TABLE dbo.ctacte ADD
	vercontado numeric(1, 0) NULL
GO
ALTER TABLE dbo.ctacte ADD CONSTRAINT
	DF_ctacte_vercontado DEFAULT 0 FOR vercontado
GO
ALTER TABLE dbo.ctacte SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.producto ADD
	stockminweb int NULL
GO
ALTER TABLE dbo.producto ADD CONSTRAINT
	DF_producto_stockminweb DEFAULT 0 FOR stockminweb
GO
ALTER TABLE dbo.producto SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.comprobante ADD
	idclasecomp int NULL
GO
ALTER TABLE dbo.comprobante ADD CONSTRAINT
	DF_comprobante_idclasecomp DEFAULT 0 FOR idclasecomp
GO
ALTER TABLE dbo.comprobante SET (LOCK_ESCALATION = TABLE)
GO
COMMIT


GO

GO

INSERT INTO [dbo].[clasecomp] (
    [id],
    [codigo],
    [cnombre],
    [afectado],
    [debehaber],
    [tipo],
    [codarbaiibb]
)
VALUES (
    46,                     -- id
    'X',                    -- codigo
    'REMITO DESCARTE',      -- cnombre
    '',                     -- afectado
    ' ',                    -- debehaber
    '02',                   -- tipo
    ' '                     -- codarbaiibb
);
GO
update comprobante set idclasecomp = clasecomp.id
	from comprobante 
	inner join clasecomp on comprobante.clase = clasecomp.codigo and comprobante.clasetipo = clasecomp.tipo


