USE [quaglia]
GO
/****** Objeto:  Table [dbo].[bonirubro]    Fecha de la secuencia de comandos: 09/09/2016 14:33:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bonirubro](
	[id] [int] NOT NULL,
	[idctacte] [int] NOT NULL,
	[idrubro] [int] NOT NULL,
	[bonifica] [numeric](6, 2) NOT NULL,
	[fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_bonirubro] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
