USE [Kleja]
GO
CREATE PROCEDURE sp_GmClientesWeb
    @idempresa INT
  AS
  BEGIN
    SET NOCOUNT ON;
    SELECT
      cnumero,
      cnombre as nombre,
      ISNULL(cdireccion, '') AS direccion,
      ISNULL(lista, 1)      AS tipoPrecio,
      ISNULL(claveweb, '')  AS claveweb
    FROM ctacte
    WHERE estadoweb = 1
  END
